<div>
  <div class="wrapper">
    <h1>Best Products</h1>
    <div class="cols">
      <div
        class="col-card"
        ontouchstart="this.classList.toggle('hover');"
        routerLink="/products"
      >
        <div class="container">
          <div class="front">
            <div class="inner">
              <p>Diligord</p>
              <span></span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>
                Take 25% off all sweaters and knits. Discount applied at
                checkout.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-card"
        ontouchstart="this.classList.toggle('hover');"
        routerLink="/products"
      >
        <div class="container">
          <div class="front">
            <div class="inner">
              <p>Rocogged</p>
              <span></span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>
                Take 25% off all sweaters and knits. Discount applied at
                checkout.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-card"
        ontouchstart="this.classList.toggle('hover');"
        routerLink="/products"
      >
        <div class="container">
          <div class="front">
            <div class="inner">
              <p>Strizzes</p>
              <span></span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>
                Take 25% off all sweaters and knits. Discount applied at
                checkout.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-card"
        ontouchstart="this.classList.toggle('hover');"
        routerLink="/products"
      >
        <div class="container">
          <div class="front">
            <div class="inner">
              <p>Clossyo</p>
              <span></span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>
                Take 25% off all sweaters and knits. Discount applied at
                checkout.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-card"
        ontouchstart="this.classList.toggle('hover');"
        routerLink="/products"
      >
        <div class="container">
          <div class="front">
            <div class="inner">
              <p>Rendann</p>
              <span></span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>
                Take 25% off all sweaters and knits. Discount applied at
                checkout.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-card"
        ontouchstart="this.classList.toggle('hover');"
        routerLink="/products"
      >
        <div class="container">
          <div class="front">
            <div class="inner">
              <p>Reflupper</p>
              <span></span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>
                Take 25% off all sweaters and knits. Discount applied at
                checkout.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-card"
        ontouchstart="this.classList.toggle('hover');"
        routerLink="/products"
      >
        <div class="container">
          <div class="front">
            <div class="inner">
              <p>Acirassi</p>
              <span></span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>
                Take 25% off all sweaters and knits. Discount applied at
                checkout.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-card"
        ontouchstart="this.classList.toggle('hover');"
        routerLink="/products"
      >
        <div class="container">
          <div class="front">
            <div class="inner">
              <p>Sohanidd</p>
              <span></span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>
                Take 25% off all sweaters and knits. Discount applied at
                checkout.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
