<div class="card card-container">
  <div class="card-header">
    <h3>Update Category</h3>
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="form-group mt-4">
        <label> Name: </label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="category.name"
          name="name"
        />
      </div>

      <button class="btn btn-success mt-3" type="submit">Submit</button>
      <div class="form-group">
        @if (f.submitted && errorMessage) {
        <br />
        <div class="alert alert-danger" role="alert">
          Login failed: {{ errorMessage }}
        </div>
        }
      </div>
    </form>
  </div>
</div>
