<div class="card card-container">
  <div class="card-header row">
    <div class="col-md-8"><h2>Cart List</h2></div>
    <div class="col-md-4 d-flex justify-content-end align-items-center">
      <button type="button" (click)="goBack()" class="btn btn-info">
        Back
      </button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Stock</th>
          <th>quantity</th>
          <th>Created Date</th>
          <th>Updated Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems$ | async; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.Product.name }}</td>
          <td>{{ item.Product.price }}</td>
          <td>{{ item.Product.stock }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.createdAt | date: 'yyyy-MM-dd' }}</td>
          <td>{{ item.updatedAt | date: 'yyyy-MM-dd' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
