<div class="container mt-5">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Top Categories</h2>
      </div>
      <!-- categories item -->
      <div class="col-lg-4 col-md-6 mb-50">
        <div class="card p-0">
          <div class="border-bottom text-center hover-zoom-img">
            <a routerLink="/dashboard">
              <img
                src="assest/images/categories/product-big-1.jpg"
                class="rounded-top img-fluid w-100"
                alt="product-img"
              />
            </a>
          </div>
          <ul class="d-flex list-unstyled pl-0 categories-list">
            <li class="m-0 hover-zoom-img">
              <a routerLink="/dashboard">
                <img
                  src="assest/images/categories/product-sm-1.jpg"
                  class="img-fluid w-100"
                  alt="product-img"
                />
              </a>
            </li>
            <li class="m-0 hover-zoom-img">
              <a routerLink="/dashboard">
                <img
                  src="assest/images/categories/product-sm-2.jpg"
                  class="img-fluid w-100"
                  alt="product-img"
                />
              </a>
            </li>
            <li class="m-0 hover-zoom-img">
              <a routerLink="/dashboard">
                <img
                  src="assest/images/categories/product-sm-3.jpg"
                  class="img-fluid w-100"
                  alt="product-img"
                />
              </a>
            </li>
          </ul>
          <div class="px-4 py-3 border-top d-flex">
            <div class="col">
              <h4 class="float-start">Clothing</h4>
            </div>
            <div class="col">
              <a class="btn btn-md btn-outline-primary float-end">view more</a>
            </div>
          </div>
        </div>
      </div>
      <!-- categories item -->
      <div class="col-lg-4 col-md-6 mb-50">
        <div class="card p-0">
          <div class="border-bottom text-center hover-zoom-img">
            <a routerLink="/dashboard">
              <img
                src="assest/images/categories/product-big-2.jpg"
                class="rounded-top img-fluid w-100"
                alt="product-img"
              />
            </a>
          </div>
          <ul class="d-flex list-unstyled pl-0 categories-list">
            <li class="m-0 hover-zoom-img">
              <a routerLink="/dashboard">
                <img
                  src="assest/images/categories/product-sm-4.jpg"
                  class="img-fluid w-100"
                  alt="product-img"
                />
              </a>
            </li>
            <li class="m-0 hover-zoom-img">
              <a routerLink="/dashboard">
                <img
                  src="assest/images/categories/product-sm-5.jpg"
                  class="img-fluid w-100"
                  alt="product-img"
                />
              </a>
            </li>
            <li class="m-0 hover-zoom-img">
              <a routerLink="/dashboard">
                <img
                  src="assest/images/categories/product-sm-6.jpg"
                  class="img-fluid w-100"
                  alt="product-img"
                />
              </a>
            </li>
          </ul>
          <div class="px-4 py-3 border-top d-flex">
            <div class="col">
              <h4 class="float-start">Shoes</h4>
            </div>
            <div class="col">
              <a class="btn btn-md btn-outline-primary float-end">view more</a>
            </div>
          </div>
        </div>
      </div>
      <!-- categories item -->
      <div class="col-lg-4 col-md-6 mb-50">
        <div class="card p-0">
          <div class="border-bottom text-center hover-zoom-img">
            <a routerLink="/dashboard">
              <img
                src="assest/images/categories/product-big-3.jpg"
                class="rounded-top img-fluid w-100"
                alt="product-img"
              />
            </a>
          </div>
          <ul class="d-flex list-unstyled pl-0 categories-list">
            <li class="m-0 hover-zoom-img">
              <a routerLink="/dashboard">
                <img
                  src="assest/images/categories/product-sm-7.jpg"
                  class="img-fluid w-100"
                  alt="product-img"
                />
              </a>
            </li>
            <li class="m-0 hover-zoom-img">
              <a routerLink="/dashboard">
                <img
                  src="assest/images/categories/product-sm-8.jpg"
                  class="img-fluid w-100"
                  alt="product-img"
                />
              </a>
            </li>
            <li class="m-0 hover-zoom-img">
              <a routerLink="/dashboard">
                <img
                  src="assest/images/categories/product-sm-9.jpg"
                  class="img-fluid w-100"
                  alt="product-img"
                />
              </a>
            </li>
          </ul>
          <div class="px-4 py-3 border-top d-flex">
            <div class="col">
              <h4 class="float-start">Accessories</h4>
            </div>
            <div class="col">
              <a class="btn btn-md btn-outline-primary float-end">view more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <featured-products></featured-products>
  </div>
</div>
