<app-header></app-header>
<div *ngIf="(isLoggedIn$ | async) && (role$ | async) === 'ADMIN'">
  <div class="row mt-3">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10">
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<!-- User Layout -->
<div *ngIf="(isLoggedIn$ | async) && (role$ | async) === 'USER'">
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Fallback for Unauthenticated Users -->
<div *ngIf="!(isLoggedIn$ | async)">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>

<app-delete-modal></app-delete-modal>
