<header>
  <div id="top-header" class="row">
    <div id="top-header-container">
      <ul class="header-links float-start col-md-8 col-sm-12">
        <li>
          <a>
            <i class="fa fa-phone"></i>
            +021-95-51-84
          </a>
        </li>
        <li>
          <a>
            <i class="fa fa-regular fa-envelope"></i>
            {{ email }}
          </a>
        </li>
        <li>
          <a>
            <i class="fa fa-map-marker"></i>
            1734 Stonecoal Road
          </a>
        </li>
      </ul>
      <ul class="header-links float-end col-md-4 col-sm-12">
        <li>
          <a>
            <i class="fa fa-regular fa-dollar-sign"></i>
            USD
          </a>
        </li>
        <li>
          <a routerLink="/profile" style="text-decoration: none">
            <i class="fa fa-regular fa-user"></i>
            {{ username }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row bg-dark">
    <nav class="navbar navbar-expand navbar-dark p-2 ms-auto me-auto col-md-8">
      <a href="#" class="navbar-brand ms-3">E-commerce</a>
      <div *ngIf="isLoggedIn$ | async">
        <ul
          class="navbar-nav mr-auto"
          routerLinkActive="active"
          *ngIf="role === 'ADMIN'; else userBoard"
        >
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Admin
            </a>
            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <li>
                <a
                  class="dropdown-item nav-link"
                  routerLink="/admin/categories"
                >
                  Category
                </a>
              </li>
              <li>
                <a class="dropdown-item nav-link" routerLink="/admin/products">
                  Product
                </a>
              </li>
              <li>
                <a class="dropdown-item nav-link" routerLink="/admin/cart">
                  Cart
                </a>
              </li>
              <li>
                <a class="dropdown-item nav-link" routerLink="/admin/order">
                  Order
                </a>
              </li>
              <li><hr class="dropdown-divider bg-white" /></li>
              <li>
                <a class="dropdown-item nav-link" routerLink="/admin/users">
                  User
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <ng-template #userBoard>
          <ul class="navbar-nav mr-auto" routerLinkActive="active">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Pages
              </a>
              <ul
                class="dropdown-menu bg-dark"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a class="dropdown-item nav-link" routerLink="/products">
                    Products
                  </a>
                </li>
                <li>
                  <a class="dropdown-item nav-link" routerLink="/cart">Cart</a>
                </li>
                <li>
                  <a class="dropdown-item nav-link" routerLink="/favorite">
                    Favorite
                  </a>
                </li>
                <li>
                  <a class="dropdown-item nav-link" routerLink="/check-out">
                    Check-out
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </ng-template>
      </div>

      <ul
        class="navbar-nav ms-auto me-3"
        *ngIf="!(isLoggedIn$ | async); else authenicatedBoard"
      >
        <li class="nav-item">
          <a routerLink="/register" class="nav-link" routerLink="register">
            Sign Up
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
      <ng-template #authenicatedBoard>
        <ul class="navbar-nav ms-auto me-3 my-auto">
          <li class="nav-item" *ngIf="role !== 'ADMIN'">
            <div
              class="d-flex justify-content-center align-items-center my-auto mt-2 me-4"
            >
              <div class="position-relative head-icon">
                <div>
                  <div
                    class="d-flex justify-content-center align-items-center"
                    routerLink="/favorite"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25"
                      height="25"
                      fill="currentColor"
                      class="bi bi-heart"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"
                      />
                    </svg>
                  </div>
                  <p style="text-decoration: none" class="mb-0 mt-1">Wish</p>
                </div>
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                >
                  {{ this.favoriteProductsCount$ | async }}
                </span>
              </div>
            </div>
          </li>
          <li class="nav-item" *ngIf="role !== 'ADMIN'">
            <div
              class="d-flex justify-content-center align-items-center my-auto mt-2 me-5"
              routerLink="/cart"
            >
              <div class="position-relative head-icon">
                <div>
                  <div class="d-flex justify-content-center align-items-center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25"
                      height="25"
                      fill="currentColor"
                      class="bi bi-cart"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
                      />
                    </svg>
                  </div>
                  <p style="text-decoration: none" class="mb-0 mt-1">Cart</p>
                </div>
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                >
                  {{ this.cartItemsCount$ | async }}
                </span>
              </div>
            </div>
          </li>
          <li class="nav-item" (click)="logout()">
            <div
              class="d-flex justify-content-center align-items-center my-auto mt-2"
            >
              <div class="position-relative head-icon">
                <div>
                  <div class="d-flex justify-content-center align-items-center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25"
                      height="25"
                      fill="currentColor"
                      class="bi bi-box-arrow-right"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"
                      />
                    </svg>
                  </div>
                  <p style="text-decoration: none" class="mb-0 mt-1">LogOut</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </ng-template>
    </nav>
  </div>
  <div class="navbar-bottom"></div>
</header>
