.custom-dropdown {
  position: relative;
  width: 100%;
}

.selected-items {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: end;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: block;
}

.dropdown-item {
  padding: 8px;
  display: flex;
  align-items: center;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-item input {
  margin-right: 10px;
}
