#modal-3d-container {
  width: 100%; /* or any fixed size like 500px */
  height: 500px; /* or 100vh if you want the modal to cover the full height */
  overflow: hidden;
  position: relative;
  z-index: 9999; /* Ensure the modal is above other elements */
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes borderColorOpacity {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure modal appears on top */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  max-height: 600px;
  width: 90%; /* Adjust to desired width */
  overflow: auto;
}

.modal-body {
  height: 400px; /* Adjust the height as per your requirement */
}

#modal-3d-container {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0; /* Optional background color */
  position: relative;
}
